<div class="page-header">
  <h2><%= plural_table_name %></h2>
  <div class="text-right">
    <%%= link_to raw('<i class="fa fa-plus fa-2x"></i>'), new_<%= singular_table_name %>_path,
     class: 'btn btn-default' %>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
         <%- attributes.each do |attribute| -%>
          <th><%= attribute.name %></th>
         <%- end -%>
        <th colspan="3"> Options </th>
      </tr>
    </thead>

    <tbody>
      <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
         <%- attributes.each do |attribute| -%>
          <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
         <%- end -%>
        <td>
          <%%= link_to raw('<i class="fa fa-eye fa-2x"></i>'), <%= singular_table_name %>, class: 'btn btn-sm btn-primary center-block white' %>
        </td>
        <td>
          <%%= link_to raw('<i class="fa fa-pencil fa-2x"></i>'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-sm btn-primary center-block white' %>
        </td>
        <td>
          <%%= link_to raw('<i class="fa fa-trash fa-2x"></i>'),
              <%= singular_table_name %>, method: :delete, data: { confirm: 'Você tem certeza?' },
              class: 'btn btn-danger center-block white btn-sm' %>
        </td>
      </tr>
      <%% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%%= paginate @<%= plural_table_name %> %>
  </div>  
</div>
