<div class="col-md-offset-2 col-md-8">
  <h2><%= t '.title', id: @course.id %></h2>
  <br />

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade in text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <strong>OK: </strong> <%= notice %>
    </div>
  <% end %>

  <p class="col-md-12">
    <strong><%= t('.name') %>:</strong>
    <%= @course.name %>
  </p>

  <p class="col-md-12">
    <strong><%= t('.description') %>:</strong>
    <%= @course.description %>
  </p>

  <p class="col-md-12">
    <strong><%= t('.status') %>:</strong>
    <%= @course.status_humanized %>
  </p>

  <div class="form-group col-md-12">
    <%= link_to t('links.show'), edit_course_path(@course),
    class: 'btn btn-info btn-block' %>
  </div>

  <div class="form-group col-md-12">
    <%= link_to t('links.back'), courses_path,
    class: 'btn btn-default btn-block' %>
  </div>

</div>
